<header class="header">
<div class="container nav-wrapper">
<div class="navbar">
  <div class="logo">
    ⚡ <span>Dr. Electric</span>
  </div>

  <nav class="nav">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="services" routerLinkActive="active">Services</a>
    <a routerLink="gallery" routerLinkActive="active">Gallery</a>
    <a routerLink="faq" routerLinkActive="active">FAQ</a>
    <a routerLink="contact" routerLinkActive="active">Contact</a>
    <a class="btn-cta" routerLink="booking">Book Now</a>
  </nav>
</div>
</div>
</header>


<main class="container">
<router-outlet></router-outlet>
</main>


<footer class="footer">© <span id="year"></span> Dr. Electric — Fast, Affordable & Trusted</footer>